<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>克拉克拉虚拟恋人</title>
</head>
<body>
<div id="app">

</div>
<script type="text/javascript" src="https://static.lkme.cc/linkedme.min.js"></script>
<!-- built files will be auto injected -->
<script>
    var shareTitle = '克拉克拉虚拟恋人';
    var shareDesc = '国内首款虚拟直播 下个次元世界由你开启';
    var shareImageUrl = 'https://img.hongrenshuo.com.cn/h5/virtuallive-share.jpg';
    var na = navigator.userAgent.toLowerCase();
    function h5share() {
        var shareInfo = new Object();
        shareInfo.title = shareTitle;
        shareInfo.des = shareDesc;
        shareInfo.imgUrl = shareImageUrl;
        shareInfo.tag1 = '';
        if (na.match(/(iphone|ipod|ios|ipad)/i)) {
            return JSON.stringify(shareInfo);
        } else {
            window.JsInterface.onReceiveShareContent(JSON.stringify(shareInfo));
        }
    }
</script>
</body>
</html>
