<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>热血高校分班大作战</title>
    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function(){
            _vds.push(['setAccountId', '9f5429d6a2fd1d8d']);
            (function() {
                var vds = document.createElement('script');
                vds.type='text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'assets.growingio.com/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
</head>
<body>
<div id="app">

</div>
<script type="text/javascript" src="https://static.lkme.cc/linkedme.min.js"></script>
<!-- built files will be auto injected -->
<script>
    var shareTitle = '热血高校分班大作战';
    var shareDesc = '全新玩法丰厚奖励，小耳朵们快来为自己的主播荣耀加油助力吧~';
    var shareImageUrl = 'https://img.hongrenshuo.com.cn/h5/crowsZero-share.png';
    var na = navigator.userAgent.toLowerCase();
    function h5share() {
        var shareInfo = new Object();
        shareInfo.title = shareTitle;
        shareInfo.des = shareDesc;
        shareInfo.imgUrl = shareImageUrl;
        shareInfo.tag1 = '';
        if (na.match(/(iphone|ipod|ios|ipad)/i)) {
            return JSON.stringify(shareInfo);
        } else {
            window.JsInterface.onReceiveShareContent(JSON.stringify(shareInfo));
        }
    }
</script>
</body>
</html>
