<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>克拉克拉掘金者</title>
</head>
<body>
<div id="app">

</div>
<script type="text/javascript" src="https://static.lkme.cc/linkedme.min.js"></script>
<!-- built files will be auto injected -->
<script>
    var shareTitle = '克拉克拉过关斩将';
    var shareDesc = '秋风起，战鼓响，参加过关斩将活动海量经验送不停~';
    var shareImageUrl = 'https://img.hongrenshuo.com.cn/h5/killguan-wxshare-ymz.jpg';
    var na = navigator.userAgent.toLowerCase();
    function h5share() {
        var shareInfo = new Object();
        shareInfo.title = shareTitle;
        shareInfo.des = shareDesc;
        shareInfo.imgUrl = shareImageUrl;
        shareInfo.tag1 = '';
        if (na.match(/(iphone|ipod|ios|ipad)/i)) {
            return JSON.stringify(shareInfo);
        } else {
            window.JsInterface.onReceiveShareContent(JSON.stringify(shareInfo));
        }
    }
</script>
</body>
</html>
