<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>腾讯动漫嗨声次元会-漫画男神声优匹配战</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1e1292c6afc57f314001a1dd3b9ad445";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        //默读同人音文大赛
    </script>
</head>
<body>
<div id="app">

</div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="https://static.lkme.cc/linkedme.min.js"></script>
<script>
    var shareTitle = '腾讯动漫嗨声次元会-漫画男神声优匹配战';
    var shareDesc = '快来配对你爱的漫画男神和人气声优吧~';
    var shareImageUrl = 'https://img.hongrenshuo.com.cn/h5/tencent-wxshare-ymz.png';
    var na = navigator.userAgent.toLowerCase();
    function h5share() {
        var shareInfo = new Object();
        shareInfo.title = shareTitle;
        shareInfo.des = shareDesc;
        shareInfo.imgUrl = shareImageUrl;
        shareInfo.tag1 = '';
        if (na.match(/(iphone|ipod|ios|ipad)/i)) {
            return JSON.stringify(shareInfo);
        } else {
            window.JsInterface.onReceiveShareContent(JSON.stringify(shareInfo));
        }
    }
</script>
</body>
</html>
